.cart {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.cart .cart-wrap {
    max-width: 1200px;
    display: flex;
    margin-bottom: 20px;
}
.cart .cart-wrap .cart-left {
    width: 70%;
    padding-right: 20px;
}
.cart .cart-wrap .cart-left .cart-left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    position: relative;
}
.cart .cart-wrap .cart-left .cart-left-title a {
    z-index: 30;
}
.cart .cart-wrap .cart-left .cart-left-title a span {
    color: #ccc;
    text-align: start;
    text-decoration-line: underline;
}
.cart .cart-wrap .cart-left .cart-left-title a span:hover {
    cursor: pointer;
    color: #000;
}
.cart .cart-wrap .cart-left .cart-left-title h1 {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.cart .cart-wrap .cart-left .cart-left-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: #aca5a5;
    line-height: 50px;
    margin-bottom: 20px;
}
.cart .cart-wrap .cart-left .cart-left-top .cart-left-top-number {
    flex-grow: 1;
}
.cart .cart-wrap .cart-left .cart-left-top .cart-left-top-product {
    flex-grow: 3;
}
.cart .cart-wrap .cart-left .cart-left-top .cart-left-top-price {
    flex-grow: 1;
    text-align: end;
}
.cart .cart-wrap .cart-left .cart-left-top .cart-left-top-quantity {
    flex-grow: 1;
    text-align: center;
    width: 20%;
}
.cart .cart-wrap .cart-left .cart-left-top .cart-left-top-total {
    flex-grow: 1;
    text-align: center;
}
.cart .cart-wrap .cart-left .cart-left-middle {
    width: 100%;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-title {
    padding: 15px 10px;
    background: #f0f0f0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #aca5a5;
    text-transform: uppercase;
    user-select: text;
    font-size: 15px;
    font-weight: 500;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-img {
    border-radius: 2px;
    width: 120px;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-img img {
    border-radius: 2px;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-information {
    width: 200px;
    margin: 0 10px 10px 10px;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-information p {
    margin-top: 10px;
    color: #ccc;
    font-size: 10px;
    user-select: text;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-information span {
    display: inline-block;
    margin-top: 30px;
    user-select: text;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-information .cart-left-middle-product-information-state {
    padding: 3px 0;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    user-select: text;
    width: 50%;
    font-size: 10px;
    background: #ccc;
    text-transform: uppercase;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-price {
    padding-top: 10px;
    flex-grow: 1;
    text-align: end;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-price span {
    font-size: 16px;
    font-weight: 500;
    user-select: text;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity {
    width: 16%;
    text-align: center;
    display: flex;
    align-items: center;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: max-content;
    height: 40px;
    border: 1px solid #ccc;
}

.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content .cart-left-middle-product-quantity-content-number {
    margin: 0;
    padding: 0;
    font-size: 16px;
    outline:none;
    user-select: none;
    border: none;
    height: 100%;
    text-align: center;
    width:40px;
}

.btnUpdate{
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;
}

.btn-plus{
    border-left: 1px solid #ccc;
}

.btn-minus{
    border-right: 1px solid #ccc;
}

.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content span {
    font-size: 15px;
    user-select: text;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content .cart-left-middle-product-quantity-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    cursor: pointer;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content .cart-left-middle-product-quantity-icon .cart-left-middle-product-quantity-icon-up:hover {
    color: #ccc;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-quantity .cart-left-middle-product-quantity-content .cart-left-middle-product-quantity-icon .cart-left-middle-product-quantity-icon-down:hover {
    color: #ccc;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-number {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: end;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-number span {
    font-size: 15px;
    font-weight: 500;
    user-select: text;
}
.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-number .cart-left-middle-product-del {
    padding-left: 10px;
    font-size: 12px;
}

.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product .cart-left-middle-product-number .cart-left-middle-product-del:hover {
    color: #ccc;
    cursor: pointer;
}

.cart .cart-wrap .cart-left .cart-left-middle .cart-left-middle-product:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cart-right {
    width: 30%;
}
.cart-right .cart-right-top-promotion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 60px;
    width: 100%;
}
.cart-right .cart-right-top-promotion input {
    padding: 5px 110px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    height: 40px;
    outline: none;
}
.cart-right .cart-right-top-promotion button {
    position: absolute;
    background: linear-gradient(#666, #333);
    color: #fff;
    border: none;
    border-left: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    text-transform: uppercase;
    right: 36px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
.cart-right .cart-right-bottom {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0 20px;
    max-height: 320px;
}
.cart-right .cart-right-bottom .cart-right-bottom-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
}
.cart-right .cart-right-bottom .cart-right-bottom-title span {
    text-transform: uppercase;
    user-select: text;
    font-size: 16px;
    font-weight: 500;
}
.cart-right .cart-right-bottom .cart-right-bottom-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.cart-right .cart-right-bottom .cart-right-bottom-content {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.cart-right .cart-right-bottom .cart-right-bottom-content .cart-right-bottom-content-delivery {
    width: 90%;
    cursor: pointer;
    position: relative;
}
.cart-right .cart-right-bottom .cart-right-bottom-content .cart-right-bottom-content-delivery .cart-right-bottom-content-delivery-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #fff;
    border: 1px solid #f0f0f0;
    width: 100%;
}

.cart-right .cart-right-bottom .cart-right-bottom-content .cart-right-bottom-content-icon {
    color: #ccc;
    margin-left: 10px;
    cursor: pointer;
}
.cart-right .cart-right-bottom a {
    padding: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: #090;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
}

.cart-right .cart-right-bottom button {
    padding: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: #090;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.cart-right .cart-right-bottom button:hover {
    background-color: #37ad37;
}
.cart-right .cart-right-bottom .cart-right-bottom-method {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 8px;
}
.cart-right .cart-right-bottom .cart-right-bottom-method span {
    text-align: center;
    width: 60%;
    font-size: 16px;
}
.cart-right .cart-right-bottom .cart-right-bottom-cod {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-right .cart-right-bottom .cart-right-bottom-cod span {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}

.wrapper-cart-item-checkbox{
    display: flex;
    height: 100%;
    align-self: center;
    transform: translateY(-50%);
    width: 30px;
}

.wrapper-cart-item-checkbox input{
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
}

