.login-form{
    position:absolute;
    top:30%;
}

.login-form .register-form-options a{
    cursor: pointer;
}


.login-form .register-form-options a:hover{
    color: rgb(188, 184, 226);
}

.login-form-height{
    height: max-content !important;
}
