.product-right-content {
    z-index: 1;
}
.product-right-content .product-right-content-wrap {
    height: 100%;
    width: 100%;
}
.product-right-content .product-right-content-wrap .product-wrap {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-direction: column;
    max-height: 600px;
    max-width: 280px;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item:hover .product-item-description {
    display: none;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item:hover .product-item-options{
    display: block;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item:hover .product-item-chevron{
    display: flex;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-slide{
    display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}


.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-slide .product-item-img {
    max-width: 100%;
    height: auto;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-slide .product-item-img:hover {
    cursor: pointer;
}


.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-slide .product-item-img img {
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 280px;
    height: auto;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-chevron{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    top: 180px;
    font-size: 40px;
    color: rgb(150, 139, 139);
    width: 100%;
    padding: 0 4px;
    display: none;
}


.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-chevron .fa-chevron-left{
    cursor: pointer;
    left: 20px;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-chevron .fa-chevron-right{
    cursor: pointer;
    right: 10px;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-chevron .fa-chevron-left:hover, .fa-chevron-right:hover{
    color: #ccc;
}


.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-description {
    width: 100%;
    padding: 10px 10px;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-description span {
    padding-bottom: 10px;
    text-align: center;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-description span:last-child {
    padding-bottom: 0;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options {
    display: none;
    position: absolute;
    padding: 10px 10px;
    top: 99%;
    left: -1px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 8px #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    width: 280px;
    z-index: 50;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-colors {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-colors span {
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 5px;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-colors span button {
    display: block;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-sizes {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-sizes .product-item-slide{
    height: 100%;
    width: 100%;
    position: relative;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-sizes .product-item-options-sizes-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 30px;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-sizes .product-item-options-sizes-item span {
    font-size: 16px;
    padding: 1px 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #312b2b;
    margin-left: 10px;
    margin-right: 10px;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button {
    width: 100%;
    height: 100%;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
    user-select: text;
}
.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    justify-content: center;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button button:hover:last-child {
    border: 1px solid   rgb(196, 183, 233);
    background-color: rgb(196, 183, 233);
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button button:hover .fa-cart-shopping{
    left: 45%;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .product-item-options-button button:hover p{
    left: 100%;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options .fa-cart-shopping{
    position: absolute;
    left: -50%;
    color: rgb(77, 68, 68);
    transition: all 0.5s ease;
    font-size: 20px;
}

.product-right-content .product-right-content-wrap .product-wrap .product-item .product-item-options p{
    position: absolute;
    left: 0;
    color: #000;
    width: 100%;
    transition: all 0.5s ease;

}
